/*************/
/* General   */
/*************/
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #1a1a1a;
  color: #fff;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

h1,
input {
  margin-bottom: 1rem;
}

input[type="text"] {
  padding: 0.25rem;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/*************/
/* Cards     */
/*************/
.card-grid {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 32%;
  padding: 6px;
  border: 1px solid #555;
  border-radius: 2px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.card input {
  position: relative;
  width: 100%;
  padding: 3px;
}

.card input[disabled] {
  color: #fff;
  background-color: transparent;
  border: 0;
}

.results {
  position: relative;
  display: flex;
  flex-direction: column;
}

.results__inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*=========================*/
/* Media Queries */
/*=========================*/
@media (max-width: 980px) {
  
  /* Cards */
  .card {
    width: 49%;
  }
}
